config/*
!config/nginx/

config/nginx/*
!config/nginx/site-confs/
!config/nginx/authelia-location.conf
!config/nginx/authelia-server.conf
!config/nginx/ssl.conf
!config/nginx/proxy.conf
!config/nginx/nginx.conf

config/nginx/site-confs/*
!config/nginx/site-confs/default.conf
